<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Editar</title>
</head>

<body>
    <header class="header">
        <a href="/">Inicio</a>
        <a href="cadastro">Cadastrar</a>
        <a href="Listar">Listar</a>
    </header>

    <h4>Editar equipamento</h4>

    <div class="content">
        <form action="/Editar/<%= equipamento._id %>" method="post">
            <label class="label">Nome:</label>
            <input type="text" name="nome" class="input" value="<%= equipamento.nome %>">

            <label class="label">Preco:</label>
            <input type="text" name="preco" class="input" value="<%= equipamento.preco %>">

            <label class="label">Numero de serie:</label>
            <input type="text" name="serial" class="input" value="<%= equipamento.serial %>">

            <label class="label">Data de fabricacao:</label>
            <input type="date" name="fabricacao" class="input" value="<%= equipamento.fabricacao %>">

            <label class="label">Fabricante:</label>
            <input type="text" name="fabricante" class="input" value="<%= equipamento.fabricante %>">

            <button type="submit" class="button">Enviar</button>
        </form>
    </div>

    <footer>Desenvolvido por Leonardo Dallago de Cordova</footer>
</body>

</html>